<zk-modal [modalId]="modalBasica" [options]="modalBasicaOpts">

  <zk-modal-header>
    <h2>Eita coisa boa Sô !</h2>
  </zk-modal-header>

  <zk-modal-body>
    <div>
      <h3>Materia legal</h3>
      <p>A vida é uma jornada cheia de surpresas e desafios. Às vezes, nos sentimos perdidos e confusos, mas é
        importante lembrar que cada obstáculo é uma oportunidade para crescer e aprender. Não importa o quão difícil
        seja o caminho, sempre há uma luz no fim do túnel. Mantenha a cabeça erguida e siga em frente, pois o futuro
        reserva grandes coisas para aqueles que persistem e acreditam em si mesmos.</p>
    </div>
  </zk-modal-body>

  <zk-modal-footer>
    Por andré caminhoneiro.
  </zk-modal-footer>

</zk-modal>

<button (click)="openModal(modalBasica)">Modal Basica</button>


<zk-modal [modalId]="modalForm" [title]="'Pesquisa de sentimento'">

  <zk-modal-form>
    <form-generico></form-generico>
  </zk-modal-form>

  <zk-modal-footer>
    Sempre verifique as informações antes de salvar
  </zk-modal-footer>

</zk-modal>

<button (click)="openModal(modalForm)">Modal Form</button>


<zk-modal-dropdown [modalId]="modalStatus" [title]="'Andamento do Progresso'">

  <div>Teste !</div>

</zk-modal-dropdown>

<button (click)="openModal(modalStatus)">Modal Status</button>