<zk-modal [modalId]="modalId" [title]="'Meu titulo bacana !'">
  <ng-template>
    <div>
      <h3>Materia legal</h3>
      <p>A vida é uma jornada cheia de surpresas e desafios. Às vezes, nos sentimos perdidos e confusos, mas é
        importante lembrar que cada obstáculo é uma oportunidade para crescer e aprender. Não importa o quão difícil
        seja o caminho, sempre há uma luz no fim do túnel. Mantenha a cabeça erguida e siga em frente, pois o futuro
        reserva grandes coisas para aqueles que persistem e acreditam em si mesmos.</p>
    </div>
  </ng-template>
</zk-modal>

<button (click)="openModal()">Clique aqui</button>